## 2. More complex data handling

###2.1 Loops!

A loop is a way to iterate over a sequence. They are **extremely** useful so make sure you understand how they work and how to use them.

In [ ]:
cities = ['Berlin', 'Cologne', 'Frankfurt', 'Hamburg', 'Munich'] #make list of cities

for city in cities:
    print(city)

Berlin
Cologne
Frankfurt
Hamburg
Munich

See how ```for``` is coloured different, that is because it is a control statement. Think of it as *for every element in this array, do the code I say below*.

To iterate over a dictionary, use the ```items()``` method. By using x, y you tell it to return a tuple with name or key and value for each item in the dictionary. Laid out x and y are given different values each iteration of the loop e.g.

Loop 1:
x = city and y = San Francisco

Loop 2:
x = population and y = 881549

Loop 3:
x = coordinates and y = (-122.4194, 37.7749)

In [ ]:
data = {'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749) }

for x, y in data.items():
    print(x, y)

city San Francisco
population 881549
coordinates (-122.4194, 37.7749)

####Formatting considerations!
  

*   The end of a conditional statement like ```for, if, while``` must have a colon (:)
*   Any code you want to include in the loop must be indented below the statement or it won't include it in the loop

In [ ]:
for x, y in data.items():
    print(x, y) #this code is in the loop

print(x,y) #this code is not in the loop

city San Francisco
population 881549
coordinates (-122.4194, 37.7749)
coordinates (-122.4194, 37.7749)

You can also assign a number of times a loop can run using the ```range()``` command

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

Remember Python counts from 0, this also applies here as well as indexing.

```range()``` can also take a start and end number and give you a set of values

In [ ]:
for x in range(0,10,1): #make a range of values from start(0) to end(10) with a step of 1
  print(x)

0
1
2
3
4
5
6
7
8
9

###If, else, elif - more conditionals
Same as last week with ```==``` and others, we can ask the machine to tell us, or do a thing when that statement is ```True``` or ```False```

In [ ]:
for x in range (0,10,1):
  if x == 5:
    print("I found it!", x)
  else:
    print("I'm still looking for 5", x)

I'm still looking for 5 0
I'm still looking for 5 1
I'm still looking for 5 2
I'm still looking for 5 3
I'm still looking for 5 4
I found it! 5
I'm still looking for 5 6
I'm still looking for 5 7
I'm still looking for 5 8
I'm still looking for 5 9

In [ ]:
for x in range (0,10,1):
  if x == 5:
    print("I found it!", x)
  elif x == 3:
    print("3 is not 5")
  else:
    print("I'm still looking for 5", x)

I'm still looking for 5 0
I'm still looking for 5 1
I'm still looking for 5 2
3 is not 5
I'm still looking for 5 4
I found it! 5
I'm still looking for 5 6
I'm still looking for 5 7
I'm still looking for 5 8
I'm still looking for 5 9

####Formatting considerations!
  

*   ```if``` and ```else``` statements need to have the same indent to work together

#Exercise

Try to apply something you learned last lesson with something now, make a for loop for ```cities``` (the variable in the first cell of code) and when it returns Hamburg, ask it to tell you the **index** of Hamburg in the list:

In [ ]:
for i in cities:
  if i == "Hamburg":
    print(cities.index(i))
  elif i == "Berlin":
    print(cities.index(i))

0
3

## Learn loops well and learn them proper, you will use them a lot.

Do not make mistakes like this:

![x64yoo8sara81.jpg]()

###Loops over multiple dimensions
So far you have only used a loop over a list or a 1D array, doing the same over more than one dimension is just an extrapolation of the same code. See below for an example. Note "i" and "j" are again just arbitrary, although for looping through dimensions it is customary to go alphabetically meaning if there was a third dimension it would be "k"

In [ ]:
import numpy as np #load numpy module and call it "np"
rand_arr = np.random.rand(50,50) #make array 50x50 of random decimals
rand_arr_thresholded = np.ones_like(rand_arr)*rand_arr #make a copy of the first array

for i in range(len(rand_arr)): #for loop on rows
  for j in range (len(rand_arr)): #for loop on columns
    if rand_arr[i][j]<0.5: #if the value in the array is <0.5
      rand_arr_thresholded[i][j] = 0.5 #make all values less than 0.5 = 0.5

print(rand_arr_thresholded)

[[0.54005595 0.5        0.54237678 ... 0.5        0.5        0.5       ]
 [0.5        0.84502576 0.85043003 ... 0.77890316 0.79773366 0.5       ]
 [0.70616882 0.5        0.5        ... 0.5        0.90113016 0.5       ]
 ...
 [0.5        0.652191   0.5        ... 0.97620616 0.65515158 0.5       ]
 [0.5        0.60721934 0.5        ... 0.5        0.5        0.8898951 ]
 [0.58339693 0.5        0.5        ... 0.67998559 0.62318905 0.5       ]]

####Memory considerations!
in the above example, why didn't I just put?

```rand_arr_thresholded = rand_arr```

https://www.geeksforgeeks.org/array-copying-in-python/

Be **VERY** careful about shallow and deep copying arrays in Python, this is also applicable to many languages so is good to know!

####One other trick!

```where```

Sometimes you don't even have to use a loop. if your array is very large or has many dimensions and you need to filter/mask/threshold it in some way like above you can use ```where```

In [ ]:
arr_where = np.where(rand_arr<0.5, 0.5, rand_arr) #where the array is less than 0.5, make it 0.5, or if not, just leave it as the value in rand_arr
print(arr_where)

[[0.78005404 0.83705378 0.56538514 ... 0.5        0.84349538 0.8974913 ]
 [0.53118515 0.96020481 0.5        ... 0.5        0.53740098 0.5       ]
 [0.5        0.5        0.80746641 ... 0.5        0.83536392 0.87123475]
 ...
 [0.5        0.58140714 0.5        ... 0.96948406 0.65496561 0.86590783]
 [0.5        0.5        0.74337297 ... 0.92780117 0.83270579 0.5       ]
 [0.5        0.68343143 0.5        ... 0.5        0.90210252 0.5       ]]

# Exercise
Make a for loop that goes to 1000 and identifies all primes. Make the loop output each prime into a list array.

### 2.2 Functions
A function is a block of code that processes an input and retuns an output. It is similar to a loop but it is callable and can be stored in another file and used, instead of rewriting loops each time.

They are defined with the ```def``` keyword.

One function that will be useful for this course is a coordinate converter from Degrees, Minutes and Seconds to decimal degrees:

In [ ]:
def dms_to_decimal(degrees, minutes, seconds):
    if degrees < 0:
        result = degrees - minutes/60 - seconds/3600
    else:
        result = degrees + minutes/60 + seconds/3600
    return result

Another useful function, Haversine.

In [ ]:
def haversine_distance(lat1, long1, lat2, long2):
  import math
  earthrad = 6371 #Earth radius in km

  dlat = math.radians(lat2-lat1) #convert degrees to radians
  dlon = math.radians(long2-long1) #same here

  a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
    * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)

  c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
  distance = earthrad * c

  return distance

In [ ]:
san_francisco = (37.7749, -122.4194)
new_york = (40.661, -73.944)

distance = haversine_distance(san_francisco[0], san_francisco[1], new_york[0], new_york[1])
print(distance)

4135.374617164737

Swap out San Francisco and New York with two other cities to get a different distance

### 2.3 Installing modules

As you may have noticed above for the ```where``` command and the haversine function we used ```import``` to import functions from a third-party module or library.

Python has a wealth of mathematical programs which can be loaded in and used as need be. Haversine is an example of this.

In [ ]:
!pip install haversine==2.1.2
from haversine import haversine, Unit

Requirement already satisfied: haversine==2.1.2 in /usr/local/lib/python3.11/dist-packages (2.1.2)

In [ ]:
haversine #access the API for the function

In [ ]:
print(haversine(san_francisco, new_york))

4135.3803291874365

### 2.4 Reading files
If you are running code from your local machine then the easiest place to access data is in the working directory (i.e., where the jupyter notebook/script is stored), on google colab it is a bit more complicated but the same basic idea applies.

In [ ]:
import os
os.getcwd()

'/content'

See the current working directory is "/content"

There should be some sample data there, we will look at that first but then use another dataset.

In [ ]:
import pandas as pd #This is one of my favourites for reading data into python but there are others!

In [ ]:
ds = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
ds

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

To read the other data we will need to mount our drives. Essentially you are just permitting the file to access your drive.

Place the .csv file in your drive, make sure you know where if you put it in a specific folder!

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/worldcities.csv")

In [ ]:
df.head() #return the first few rows

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6850,139.7514,Japan,JP,JPN,Tky,primary,35676000.0,1392685764
1,New York,New York,40.6943,-73.9249,United States,US,USA,New York,NaN,19354922.0,1840034016
2,Mexico City,Mexico City,19.4424,-99.1310,Mexico,MX,MEX,Ciudad de Mxico,primary,19028000.0,1484247881
3,Mumbai,Mumbai,19.0170,72.8570,India,IN,IND,Mahrshtra,admin,18978000.0,1356226629
4,So Paulo,Sao Paulo,-23.5587,-46.6250,Brazil,BR,BRA,So Paulo,admin,18845000.0,1076532519

In [ ]:
df.info() #return some metadata about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15493 entries, 0 to 15492
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        15493 non-null  object
 1   city_ascii  15493 non-null  object
 2   lat         15493 non-null  float64
 3   lng         15493 non-null  float64
 4   country     15493 non-null  object
 5   iso2        15462 non-null  object
 6   iso3        15493 non-null  object
 7   admin_name  15302 non-null  object
 8   capital     5246 non-null   object
 9   population  13808 non-null  float64
 10  id          15493 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 1.3+ MB

####Boolean Filtering

In [ ]:
Country = "United Kingdom"

filtered_df_UK = df[df['country'] == Country]
filtered_df_UK

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
25,London,London,51.5000,-0.1167,United Kingdom,GB,GBR,"London, City of",primary,8567000.0,1826645935
177,Birmingham,Birmingham,52.4750,-1.9200,United Kingdom,GB,GBR,Birmingham,admin,2285000.0,1826423213
181,Manchester,Manchester,53.5004,-2.2480,United Kingdom,GB,GBR,Manchester,admin,2230000.0,1826246335
297,Leeds,Leeds,53.8300,-1.5800,United Kingdom,GB,GBR,Leeds,admin,1529000.0,1826343963
372,Sheffield,Sheffield,53.3667,-1.5000,United Kingdom,GB,GBR,Sheffield,admin,1292900.0,1826289852
...,...,...,...,...,...,...,...,...,...,...,...
6910,Haddington,Haddington,55.9333,-2.7667,United Kingdom,GB,GBR,East Lothian,admin,NaN,1826363081
6919,Kirkintilloch,Kirkintilloch,55.9167,-4.1667,United Kingdom,GB,GBR,East Dunbartonshire,admin,NaN,1826571447
6969,Lochgilphead,Lochgilphead,56.0333,-5.4167,United Kingdom,GB,GBR,Argyll and Bute,admin,NaN,1826789416
7021,Torquay,Torquay,50.4500,-3.5000,United Kingdom,GB,GBR,Torbay,admin,NaN,1826982921
13087,Wick,Wick,58.4333,-3.0834,United Kingdom,GB,GBR,Highland,NaN,7147.0,1826766399

We can also filter to find a specific place...

In [ ]:
filtered_df_UK[filtered_df_UK['city']=="Leeds"].iloc[0]

city                   Leeds
city_ascii             Leeds
lat                    53.83
lng                    -1.58
country       United Kingdom
iso2                      GB
iso3                     GBR
admin_name             Leeds
capital                admin
population         1529000.0
id                1826343963
Name: 297, dtype: object

Or item

In [ ]:
city = filtered_df_UK[filtered_df_UK['city']=="Chester"].iloc[0]
city_coords = city.lat, city.lng
print(city_coords)

(np.float64(53.2), np.float64(-2.92))

Do the same for Germany now:

In [ ]:
Country = ""

filtered_df = df[df['country'] == Country]
filtered_df

Since we are only interested in German data we will make a copy of the dataset with only German data.

In [ ]:
germany_df = df[df['country'] == Country].copy()

Choose a city in Germany and return its population relative to Berlin, and its distance from Berlin.

Calculate the distance between your apartment/house and the Lankwitz campus.

Include your answer when you share your completed worksheet.