<a href="https://colab.research.google.com/github/hannahsophiadavies/Geol_methods_GIS-datascience-python/blob/main/Python_Intro_HSD_GM_SoSe_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Very simple 'programs'
## 1.1 Running Python In Jupyter notebooks
One of the most convenient and easy to understand ways to write and use python code is in a jupyter notebook. Here we will learn the basics of coding with python in a notebook.<br>
Type your code in the regions marked with square brackets and text: "Start coding or generate with AI"<br>
```python
print('Hello, World')
```
Then press `<shift> + <return>` to execute the command, or press the play button next to the code fragment you just typed.

In [ ]:
print("Hello, World")

Hello, World

What happened?

You just created a program, that prints the words 'Hello, World'. The Python environment that you are in immediately compiles whatever you have typed in.

## 1.2 Math in Python
Type<br>
```python
1 + 1
```
and execute the code.

In [ ]:
 + 1

2

Now type
```python
20 + 80
```
and execute the code.

These are additions. We can of course use other mathematical operators.<br>
Try this subtraction:<br>
```python
6 - 5
```

and this multiplication:<br>
```python
2 * 5
```

Try:
```python
5 ** 2
```

`**` is the exponential operator, so we executed 5 squared.

Type:
```python
print('1 + 2 is an addition')
```

You see that the `print` statement writes something on the screen.

Try this:
```python
print('one kilobyte is 2^10 bytes, or', 2 ** 10, 'bytes')
```

This demonstrates that you can print text and calculations in a sentence. The commas separating each section are a way of separating strings (text) from calculations or variable.

Now try this:
```python
23 / 3
```

And this:<br>
```python
23 % 3
```

`%` returns the remainder of the division.

## 1.3 Order of Operations

Remember that thing called order of operation that they taught in maths? Well, it applies in Python, too. Here it is, if you need reminding:<br>
1. Parenthesis `()`
2. Exponents `**`
3. Multiplication `*`, division `/` and remainder `%`
4. Addition `+` and subtraction `-`

Here are some examples that you might want to try, if you're rusty on this:<br>
```python
1 + 2 * 3
(1 + 2) * 3
```

## 1.4 Comments, Please
The final thing you'll need to know to move on to multi-line programs is the comment. Type the following (and yes, the output is shown):
```python
# I am a comment. Fear my wrath!
```

A comment is a piece of code that is not run. In Python, you make something a comment by putting a hash in front of it. A hash comments everything after it in the line, and nothing before it. So you could type this:
```python
print("food is very nice") #eat me
```

This results in a normal output, without the somewhat rude comment, thank you very much.

Now try this:
```python
# print("food is very nice")
```

Nothing happens, because the code was after a comment.

Comments are important for adding necessary information for another programmer to read, but not the computer. For example, an explanation of a section of code, saying what it does, or what is wrong with it. You can also comment bits of code by putting a `#` in front of it - if you don't want it to compile, but can't delete it because you might need it later.

The shortcut for this is [cmd/ctrl + /] - try to use the shortcuts as it is easier

## 1.5 Variables
Now let's start introducing variables. Variables store a value, that can be looked at or changed at a later time. Let's make a program that uses variables:

In [ ]:
#variables demonstrated
print("This program is a demo of variables")
v = 1
print("The value of v is now", v)
v = v + 1
print("v now equals itself plus one, making it worth", v)
v = 51
print("v can store any numerical value, to be used elsewhere.")
print("for example, in a sentence. v is now worth", v)
print("v times 5 equals", v * 5)
print("but v still only remains", v)
print("to make v five times bigger, you would have to type v = v * 5")
v = v * 5
print("there you go, now v equals", v, "and not", v / 5)

This program is a demo of variables
The value of v is now 1
v now equals itself plus one, making it worth 2
v can store any numerical value, to be used elsewhere.
for example, in a sentence. v is now worth 51
v times 5 equals 255
but v still only remains 51
to make v five times bigger, you would have to type v = v * 5
there you go, now v equals 255 and not 51.0

Run the script and try to understand the results.

Note that we can also write v = v + 1 as v += 1. This can be used for all operators (e.g. -=, *=,/=). Try it in the empty code line below.

It is good practice to use lowercase for variables. Don't use special characters and don't start with a number!

What does v equal?

## 1.6 Logical operators
While -=, *=, /= and += will do math for you, if you use a == it has a different meaning ```==``` is a type of logical operator

In [ ]:
2 == 2

True

In the code above we are essentially asking the machine to check if 2 = 2. This is very useful for conditional statements which we will cover later in the course.

The other logical operators we can use in Python are:

*   Not equal to: ```!=```
*   Less than: ```<```
*   Greater than: ```>```
*   Less than/greater than and equal to ```<=``` ```>=```

We can also stack them to be very specific about the number we are searching for. For example:

In [ ]:
(1 >= 1) and (1 < 1)

False

See how the ```and``` changed colour? That means it recognises it is an ```and``` statement. You are asking the computer to check one thing *and* another thing. You can also try ```or``` here too

 Try each of the exercises below now:

Use any operator to get a ```False``` output

Use ```or``` statement to get a true output

## 1.7 Types
As we have seen above, text or numbers inside of parentheses e.g. "examples text" are recognised as a string, where regular numbers can be several different types depending on if they are an integer or have a decimal. If you are ever unsure about what type a variable is you can ask it like so:

In [ ]:
type("object in brackets")

str

In [ ]:
type(v)

int

In [ ]:
pi = 3.14

type(pi)

float

## 1.8 Tuples/lists/arrays/dictionaries - variables with more than one variable inside

Often times you want to store more complex information in a single data structure. For example you have a latitude and longitude, you could store them separately but what if you have more than one point?

It gets tiring and unwieldy to format it like
```lat1 = 15```
```lon1 = 160```
```lat2 = 49 ```
```lon2 = 145 ```

It is better to store them in a data structure:

###Tuples
A tuple is a sequence of objects. It can have any number of objects inside. In Python tuples are written with round brackets ().

In [ ]:
latitude = 37.7739
longitude = -121.5687
coordinates = (latitude, longitude)
print(coordinates)

(37.7739, -121.5687)

You can access each item by its position, i.e. index. In programming, the counting starts from 0. So the first item has an index of 0, the second item an index of 1 and so now. The index has to be put inside square brackets [].

In [ ]:
y = coordinates[0]
x = coordinates[1]
print(x, y)

-121.5687 37.7739

Do the same as above to make a tuple for the coordinates of the Berlin Geocampus below

###Lists or arrays
A list is a set of elements that is mutable, meaning it can be changed, it can also hold many different types of data:

In [ ]:
cities = ['San Francisco', 'Los Angeles', 'New York', 'Atlanta']
print(cities)

['San Francisco', 'Los Angeles', 'New York', 'Atlanta']

In [ ]:
median_ages = [43, 56, 33, 60] #not median ages of the cities above, just an example!
print(median_ages)

[43, 56, 33, 60]

Use ```len()``` to see how long the data structure is

In [ ]:
len(cities)

4

You can access elements the same way as with a tuple:

In [ ]:
print(cities[0])

San Francisco

You can add elements to a list using the ```.append``` method

In [ ]:
cities.append('Boston')
print(cities)

['San Francisco', 'Los Angeles', 'New York', 'Atlanta', 'Boston']

Append another city below and print the output:

See how long ```cities``` is now using ```len()```:

You can even edit one of the variables, as long as you know the index. Get index by using the ```index()``` method

In [ ]:
cities.index("Boston") #Find the index of Boston

4

In [ ]:
cities[4] = "Chicago"
print(cities)

['San Francisco', 'Los Angeles', 'New York', 'Atlanta', 'Chicago']

See how Boston is now replaced with Chicago? This can be done more automatically with loops and ```where``` but those will be in a later lesson. Try to replace another city with a German one (perhaps your hometown?). Remember if you don't know the index, use the ```index()``` method and:

**REMEMBER ARRAYS COUNT FROM 0 IN PYTHON**

###Dictionaries
In Python dictionaries are written with curly brackets {}. Dictionaries have keys and values. With lists, we can access each element by its index. But a dictionary makes it easy to access the element by name. If you want to store information of varying types, a dictionary is a good idea to not have messy data that is hard to read and access.

Keys and values are separated by a colon :

In [ ]:
data = {'city': 'San Francisco',
        'population': 881549,
        'coordinates': (-122.4194, 37.7749) } #these can all be on the same line, but sometimes dictionaries are displayed as such to make them easier to read
print(data)

{'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749)}

You can access an item of a dictionary by referring to its key name, inside square brackets.

In [ ]:
print(data['city'])

You can also edit dictionaries with the same logic as tuples and lists. However you should generally be careful about overloading variables and replacing them. Make a new dictionary for Berlin, but instead of coordinates, make the latitude and longitude separate items. For reference:

Population 3897145,

Location: 52.520000, 13.405000

# Assignment **Hausaufgabe**

The Earth can be approximated as a sphere with a circumference of 40073 km. Demonstrate here with **commented** code the length of 1° of latitude at the equator and 1 arc minute of latitude at the equator.